.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
  }
  
  .top {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 40px;
  }
  
  .info {
    padding: 20px;
    text-align: center;
  }
  
  .title {
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--text-color);
  }
  
  .desc {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
    text-align: justify;
  }
  
  .author {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }


  .avatar {
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .username {
    font-size: 16px;
    color: var(--text-color);
  }

  .username:hover {

    color: gray;
  }
  
  .imageContainer {
    width: 100%;
    height: 500px;
    position: relative;
    margin-bottom: 20px;
  }
  
  .image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  .content {
    max-width: 1000px;
    padding: 20px;
  }
  
  .text {
    font-size: 18px;
    color: var(--text-color);
    line-height: 1.8;
    text-align: justify;
  }

 